<p>
    <a class="btn btn-info" asp-action="Create">Nova Empresa</a>
    <a class="btn btn-info" asp-controller="CompanyUnits" asp-action="Create">Nova Unidade</a>
    <a class="btn btn-info" asp-controller="Contacts" asp-action="Create">Novo Contato</a>
    <a class="btn btn-info" asp-controller="Notes" asp-action="Create">Nova Anotação</a>
</p>