@model PhamaMicroCrm.Web.ViewModels.CompanyUnitViewModel
@{
    ViewData["Title"] = "Nova Unidade";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">            

            <vc:Summary></vc:Summary>

            <input type="hidden" asp-for="Id" />

            <partial name="_CompanyUnitsFormData" />

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}