@model PhamaMicroCrm.Web.ViewModels.CompanyUnitViewModel

@{
    ViewData["Title"] = "Nova Unidade";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@

            <vc:Summary></vc:Summary>

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control" asp-items="@(new SelectList(Model.Companies, "Id", "Name"))">
                    <option></option>
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_1" class="control-label"></label>
                <input asp-for="Phone_1" class="form-control" />
                <span asp-validation-for="Phone_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_2" class="control-label"></label>
                <input asp-for="Phone_2" class="form-control" />
                <span asp-validation-for="Phone_2" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>

            <h4>Endereço</h4>
            <hr />

            <partial name="_Address" />

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {

            document.getElementById("Active").checked = true;

        });
    </script>
}