@{
    ViewData["Title"] = "Home Page";
}
<style>
    .pointer {
        cursor: pointer;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div id="companiesDiv" class="col-4 pointer">
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Empresas</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-building fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
        <div id="unitsDiv" class="col-4 pointer">
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Unidades</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-archway fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
        <div id="contactsDiv" class="col-4 pointer">
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Contatos</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-building fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
        <div id="notesDiv" class="col-4 pointer">
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Anotações</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-book-open fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/js/Entities/Company.js"></script>
    <script>
        $(document).ready(function () {

            $("#companiesDiv").on("click", function () {
                document.location.href = "lista-de-empresas";
            });

            $("#unitsDiv").on("click", function () {
                document.location.href = "lista-de-unidades";
            });

            $("#contactsDiv").on("click", function () {
                document.location.href = "lista-de-contatos";
            });

            $("#notesDiv").on("click", function () {
                document.location.href = "anotacoes";
            });

        });
    </script>
}