@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4" >
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Empresas</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-building fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-4" >
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Unidades</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-archway fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-4" >
            <div class="card border-primary mb-3" style="max-width: 18rem; margin: 20px;">
                <center>
                    <div class="card-header">Contatos</div>
                </center>
                <div class="card-body text-primary">
                    <center>
                        <i class="fas fa-building fa-10x"></i>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
