<br />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <vc:Summary></vc:Summary>

            <div class="form-row">
                <div class="col">
                    <label for="Empresa">Empresa</label>
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </div>
                <div class="col">
                    <label for="Unidade">Unidade</label>
                    <select class="form-control">
                        <option>Default select</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col">
                    <label for="Titulo">Título</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="col">
                    <label for="Anotacao">Anotação</label>
                    <textarea rows="6" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>