@{
    ViewData["Title"] = "Anotações";
}

<h1>@ViewData["Title"]</h1>

@*<partial name="_menu" />*@
<hr />

@Html.AntiForgeryToken()

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Empresa</td>
            <td>Anotações</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.NotesPerCompany)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Counted</td>
            </tr>
        }
    </tbody>
</table>

<table id="DT_load" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th>Empresa</th>
            <th>Título da Anotação</th>
            <th>Anotação</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/NoteIndex.js"></script>
}