@model PhamaMicroCrm.Web.ViewModels.CompanyViewModel

<div class="modal-header">
    <h4 class="modal-title">Empresa</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>
<form asp-action="_ModalCompany">
    <div class="modal-body">

        <partial name="_CompanyFormData" />

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <input type="button" value="Fechar" class="btn btn-info" data-dismiss="modal" />
            </div>
        </div>

    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            jQuery("#Phone")
                .mask("(99) 9999-9999?9")
                .focusout(function (event) {
                    var target, phone, element;
                    target = (event.currentTarget) ? event.currentTarget : event.srcElement;
                    phone = target.value.replace(/\D/g, '');
                    element = $(target);
                    element.unmask();
                    if (phone.length > 10) {
                        element.mask("(99) 99999-999?9");
                    } else {
                        element.mask("(99) 9999-9999?9");
                    }
                });
        });
    });

    $('#createCompanyForm').submit(function () {
        $("#Phone").val() = $("#Phone").val().replace(" ", "").replace("(", "").replace(")", "").replace("-", "");
        return true; // return false to cancel form action
    });
</script>
