@model PhamaMicroCrm.Web.ViewModels.CompanyViewModel

@{
    ViewData["Title"] = "Editar Empresa";
}


<h4>@ViewData["Title"] @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <vc:Summary></vc:Summary>

            <input type="hidden" asp-for="Id" />

            <partial name="_CompanyFormData" />

            <div class="form-group">
                <input type="submit" value="Atualizar" class="btn btn-primary" />
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
