@model IEnumerable<PhamaMicroCrm.Web.ViewModels.CompanyViewModel>

@{
    ViewData["Title"] = "Lista de Empresas";
}

<h1>@ViewData["Title"]</h1>

<partial name="_menu"/>

<br />
<hr />

@Html.AntiForgeryToken()

<table id="DT_load" class="table table-striped table-bordered" style="width: 100%;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Campo de atuação</th>
            <th></th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/js/CompanyIndex.js"></script>
}